@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 100%;
    position: fixed;
    font-size: 1.3vw;
    padding: 1%;
    animation: initializing 0.8s forwards;
    animation-delay: 2.5s;
    transition: opacity 0.5s ease;
    opacity: 0;
}

@keyframes initializing {

    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
}

.navbar-logo img {
    height: 60px;

}

.navbar-logo {
    z-index: 4;
}

.navbar-menu {
    list-style-type: none;
    display: flex;

}

.navbar-menu li {
    margin-left: 2.5vw;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-menu li a:hover {
    color: #ccc;
}

.begin {
    width: 100vw;
    height: 100vh;
    background: url(assets/background-cachorro-fofo.png);
    background-size: cover;
    background-position: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.begin .title {
    font-size: 4.8vw;
    width: 85vw;
    color: white;
    font-weight: bold;
    animation: initializing 0.8s forwards;
    transition: opacity 0.5s ease;
    animation-delay: 1s;
    opacity: 0;
}

.begin .text {
    color: white;
    font-size: 1.5vw;
    width: 35vw;
    text-align: center;
    animation: initializing 0.8s forwards;
    transition: opacity 0.5s ease;
    animation-delay: 1.5s;
    opacity: 0;
}

.begin .content {
    width: 85vw;
}

.who {
    width: 100vw;
    height: 100vh;
    background: url(assets/patinhas.png);
    background-color: #277342;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.who .title {
    width: 100vw;
    font-size: 4vw;
    font-weight: bold;

}

.who .text {
    width: 100vw;
    font-size: 2.5vw;
    padding: 70px;
}

.menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    display: none;
    z-index: 1;
}

.bar {
    height: 2px;
    width: 90px;
    background-color: #fff;
    margin: 2px 20px;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        font-size: 1.8vw;
    }
}



@media only screen and (max-width: 768px) {
    .navbar {
        font-size: 2vw;
        background-color: white;
    }

    .begin .title {
        width: 80vw;
        font-size: 8vw;
        text-align: center;
    }

    .begin .text {
        width: 80vw;
        font-size: 4.3vw;
        text-align: center;
    }

    .menu {
        position: fixed;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;
        height: 11vh;
        cursor: pointer;
        background-color: white;
    }

    .navbar-logo {
        width: 80vw;
        text-align: center;
    }

    .navbar-logo img {
        margin-left: 3vw;
        margin-top: 1.5vw;
    }

    .bar {
        background-color: black;
        width: 5vw;

    }

    .navbar-menu {
        position: fixed;
        top: 10vh;
        background-color: white;
        width: 100%;
        height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-menu.active {
        position: fixed;
        top: 10vh;
        background-color: white;
        width: 100%;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        animation: menuDropdown 0.8s ease forwards;
    }

    .navbar-menu.inactive {
        width: 100%;
        height: 0;
        animation: menuDropup 0.8s ease forwards;
    }


    @keyframes menuDropdown {
        from {
            height: 0;
            opacity: 0;
        }

        to {
            height: 30vh;
            opacity: 1;
        }
    }

    @keyframes menuDropup {
        from {
            height: 30vh;
            opacity: 1;
        }

        to {
            height: 0;
            opacity: 0;
        }
    }

    .navbar-menu li a {
        color: black;
    }

    @media only screen and (max-width: 480px) {
        .begin .title {
            width: 85vw;
            font-size: 10vw;
            text-align: center;
        }

        .begin .text {
            width: 85vw;
            font-size: 6vw;
            text-align: center;
        }
    }
}