@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #5c5c5c #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 15px;
    border: 3px none #000000;
  }

.onTop {
    background-color: rgba(0, 0, 0, 0.418);
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    font-size: 1.3vw;
    padding: 1%;
    animation: initializing 0.8s forwards;
    animation-delay: 2.5s;
    transition: opacity 0.5s ease;
    opacity: 0;
    z-index: 2;
}

@keyframes initializing {

    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
    
}

.navbar-logo img {
    height: 60px;

}

.navbar-logo {
    z-index: 3;
}

.navbar-menu {
    list-style-type: none;
    display: flex;

}

.navbar-menu li {
    margin-left: 2.5vw;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-menu li a:hover {
    color: #ccc;
}

.begin {
    width: 100vw;
    height: 100vh;
    background: url(assets/background-cachorro-fofo.png);
    background-size: cover;
    background-position: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.begin .title {
    font-size: 4.8vw;
    width: 85vw;
    color: white;
    font-weight: bold;
    animation: initializing 0.8s forwards;
    transition: opacity 0.5s ease;
    animation-delay: 1s;
    opacity: 0;
}

.begin .text {
    color: white;
    font-size: 1.5vw;
    width: 35vw;
    text-align: center;
    animation: initializing 0.8s forwards;
    transition: opacity 0.5s ease;
    animation-delay: 1.5s;
    opacity: 0;
}

.begin .content {
    width: 85vw;
    z-index: 1;
}

.who {
    width: 100vw;
    height: 100vh;
    background: url(assets/patinhas.png);
    background-color: #277342;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.who .title {
    width: 100vw;
    font-size: 4vw;
    font-weight: bold;
}

.who .text {
    width: 100vw;
    font-size: 2.5vw;
    padding: 70px;
    font-weight: 500;
}

.services {
    width: 100vw;
    height: 100vh;
    background: url(assets/patinhas2.png);
    background-color: #ffbc49;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.services .title {
    width: 100vw;
    font-size: 4vw;
    font-weight: bold;
}

.services .cards {
    width: 100vw;
    height: 60vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
    padding: 30px;
}

.services .cards .card {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 15vw;
    height: 100%;
    border: 5px solid white;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 15px;
    font-size: 2vw;
    margin: 50px;
}

.services .cards .card .text {
    font-size: 1.5vw;
    font-weight: bold;
}

.services .cards .card:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.where {
    width: 100vw;
    height: 100vh;
    background: url(assets/patinhas.png);
    background-color: #587CC6;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.where .title {
    width: 100vw;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 6vw;
}

.where .text {
    width: 50vw;
    font-size: 2.5rem;
    margin-top: 5%;
    font-weight: 500;
}

.where img {
    width: 40%;
}

.where img:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out ; 
}

.where .display {
    width: 85vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
}

.contact {
    width: 100vw;
    height: 100vh;
    background: url(assets/patinhas2.png);
    background-color: #743A28;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.contact .title {
    width: 100vw;
    font-size: 4vw;
    font-weight: bold;
}

.contact .text {
    width: 100vw;
    font-size: 2.5vw;
    padding: 15px;
    font-weight: 500;
}

.menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30px;
    display: none;
}

.bar {
    height: 2px;
    width: 90px;
    background-color: #fff;
    margin: 2px 20px;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        font-size: 1.8vw;
    }
}



@media only screen and (max-width: 768px) {
    .navbar {
        font-size: 2vw;
        z-index: 2;
    }

    .begin {
        background-position: 50% ;
    }

    .begin .title {
        width: 80vw;
        font-size: 8vw;
        text-align: center;
    }

    .begin .text {
        width: 80vw;
        font-size: 4.3vw;
        text-align: center;
    }

    .who .content {
        width: 100%;
        height: 100%;
    }

    .who .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 25%;
        font-size: 10vw;
        text-align: center;
    }

    .who .text {
        height: 75%;
        width: 100vw;
        font-size: 4.8vw;
        text-align: center;
    }

    .services .content {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .services .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 25%;
        font-size: 8vw;
        text-align: center; 
    }
    
    .services .cards {
        display: block;
        width: 100%;
        height: 75%;
    }
    
    .services .cards .card {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: 20%;
        border: 5px solid white;
        background-color: rgba(0, 0, 0, 0.363);
        border-radius: 15px;
        font-size: 2vw;
        overflow: hidden;
        margin-top: -25px;
    }

    .services .cards .card img{
        width: 50%;
    }
    
    .services .cards .card .text {
        font-size: 4vw;
        width: 75%;
        font-weight: bold;
    }

    .where .content {
        width: 100%;
        height: 100%;
    }

    .where .display {
        width: 100vw;
        height: 100vh;
    }

    .where .display {
        display: block;
    }

    .where .title {
        font-size: 2.5rem;
    }

    .where .text {
        font-size: 1.3rem;
    }

    .where img {
        width: 50%;
    }


    .menu {
        position: fixed;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100vw;
        height: 12vh;
        box-shadow: rgba(89, 91, 94, 0.2) 0px 8px 24px;
        cursor: pointer;
        z-index: 3;
        background-color: transparent;
    }

    .navbar-logo {
        width: 80vw;
        text-align: center;
        z-index: 4;
    }

    .navbar-logo img {
        margin-left: 3vw;
        margin-top: 1.5vw;
    }

    .bar {
        background-color: black;
        width: 5vw;

    }

    .navbar-menu {
        position: sticky;
        top: 10vh;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-menu.active {
        position: fixed;
        background-color: white;
        backdrop-filter: blur(15px);
        width: 100%;
        height: 30vh;;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        animation: menuDropdown 0.8s ease forwards;
        z-index: 3;
    }

    .navbar-menu.inactive {
        width: 100%;
        height: 0;
        animation: menuDropup 0.8s ease forwards;
    }

    .onTop {
        background-color: white;
    }


    @keyframes menuDropdown {
        from {
            display: none;
            opacity: 0;
        }

        to {
            display: flex;
            opacity: 1;
        }
    }

    @keyframes menuDropup {
        from {
            display: flex;
            opacity: 1;
        }

        to {
            display: none;
            opacity: 0;
        }
    }

    .navbar-menu li a {
        color: black;
    } 
}

@media only screen and (max-width: 480px) {
    .begin .title {
        width: 85vw;
        font-size: 10vw;
        text-align: center;
    }

    .begin .text {
        width: 85vw;
        font-size: 6vw;
        text-align: center;
    }

    .who .content {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .who .title {
        width: 100vw;
        height: 15vh;
        font-size: 10vw;
        text-align: center;
        margin-top: 20%;
    }

    .who .text {
        width: 100vw;
        height: 100vh;
        font-size: 5vw;
        text-align: center;
    
    }

    .services .content {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .services .title {
        width: 100vw;
        height: 15vh;
        font-size: 10vw;
        text-align: center;
        margin-top: 20%;
    }
    
    .services .cards {
        width: 100%;
    }
    
    .services .cards .card {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 5px solid white;
        background-color: rgba(0, 0, 0, 0.363);
        border-radius: 15px;
        font-size: 2vw;
        margin: 15px auto;
        overflow: hidden;
    }

    .services .cards .card img{
        width: 50%;
    }
    
    .services .cards .card .text {
        font-size: 4vw;
        width: 70%;
        font-weight: bold;
    }
} 